.app-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
  }
  
 
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color:grey;
    margin-bottom: 10px;
  }
  
  .header-actions {
    display: flex;
    gap: 10px;
  }
  
  .add-btn {
    
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
 
  
  .search-input {
    padding: 8px 12px;
    border: 1px solid orangered;
    border-radius: 5px;
    font-size: 14px;
  }
  
  
  .main-content {
    margin-top: 20px;
  }
  
  .service-list {
    list-style-type: none;
    padding: 0;
  }
  
  .service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
  }
  
  .service-info {
    display: flex;
    flex-direction: column;
  }
  
  .service-name {
    font-weight: bold;
    color: black;
  }
  
  .service-password {
    color: seashell;
  }
  
  .service-actions {
    display: flex;
    gap: 10px;
  }
  
  .copy-btn,
  .delete-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
